:root {
    --content-width: 90%;
    ----border-radius:20%;

    // margin, padding
    --big-margin: 3rem;
    --normal-margin: 1rem;
    --small-margin: .6rem;
    --tiny-margin: .3rem;

    // theme color
    --primary-color:rgba(0, 60, 24, 0.748);
    --secondary-color:rgba(255, 191, 0, 0.736);
    --container-background:rgba(0, 59, 0, 0);

  }


h1,
h2,
h3,
h4,
p {
margin: 0 auto;
max-width: 70ch;
}

header{
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--primary-color);
  justify-self: center;
  border: 12px solid var(--secondary-color);
}

body{
    position: relative;
    display: block;
    margin: 0 auto;
    max-height: 500px;
    overflow-y: scroll;
    padding: var(--small-margin);
    
    background-attachment: scroll;
    background-clip: border-box;

    scroll-behavior: smooth;
    scrollbar-color: grey rgb(214, 222, 215);
    scrollbar-width: thin;
}

.container, #files, #styles{
    width: var(--content-width);
    max-width: 1200px; 
    margin: var(--small-margin) auto;  
}

/* page sections */
#main section.container,
#styles .container,
#files {
  background-color: var(--primary-color);
  border-radius: 2px;
  border: 12px solid var(--secondary-color);
}

#main section.container p {
  margin: var(--normal-margin) auto;
}

#about,
#guidelines,
#contribute {
  margin-bottom: var(--big-margin);
}

/* Header sections */
#main h2,
#styles h2 {
  text-align: center;
  line-height: 2.5rem;
  gap: .5rem;
  padding: var(--tiny-margin) 0;
}


.container {
  background-color:var(--container-background);
}

.container h2 {
  margin-top: var(--normal-margin);
}

h3 {
  margin-left: var(--big-margin);
}

/* Source files */

#files .container {
  text-align: center;
}


  
