body{
    background-image: url('/images/EreborBackground.svg');
    background-attachment: fixed;
}

@media (width < 2400px){
  body {
    background-repeat: repeat-x;
    background-size: cover; 
  }
}