$color-button-text:black;
$color-button-background:rgba(255, 255, 255, .6);

/* Button links */
.link-github,
.page-footer li a,
#files a, 
.link-guidelines,
.link-allstyles,
.profile .container>a {
  
    display: inline-block;
    background: $color-button-background;
    padding: 0 7px;

    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-button-text;

    border: 0;
    margin-bottom: var(--tiny-margin);
    border-radius: 2px;
    box-shadow: 0px 0px 12px -2px;
    
    position: relative;
    transition: background-color 0.6s ease, transform 0.3s ease; 
    overflow: hidden;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: bottom;

}

.link-github:hover,
.page-footer li a:hover,
#files a:hover,
.link-guidelines:hover,
.profile .container>a:hover{
  color: #fff;
  border: 0;
  background-color: $color-button-text;
  -webkit-animation: buttons 1s linear forwards infinite;
          animation: buttons 1s linear forwards infinite;
}


// star on github
.link-github svg{
    background-color: var(--primary-color);
    height: 16px;
    width: 16px;
    padding: 10px;

}

.link-github:hover svg {
    border-color: #fff;
    background-color: #fff;
}


// main nav
nav {
    margin-top: 7px;
    background-color: #00290cae;
    border-radius: 20px;
    justify-self: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: clamp(0.25rem, 0.5vw, 0.5rem);
    padding: 0.9rem;
    
    list-style: none;
}

nav li {
    display: inline-block;

    background: var(--primary-color);
    height: max-content;
    width: max-content;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px black;
    text-transform: uppercase;

    position: relative;
    transition: background-color 0.6s ease, transform 0.3s ease; 
    overflow: hidden;

    /* Pseudo-element ::after for animation */
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;
    }

    /* Hover and focus effect */
    &:focus,
    &:hover {
        background-color: darken(#003f12cd, 7%);
        transform: translateY(-5px);
    }

    /* Active state - on click */
    &:active {
        transform: translateY(5px);
        
        /* Adjust ::after on active state */
        &::after {
            width: 300px;
            height: 300px;
        }
    }
}

// page-footer 
.page-footer ul,
.profile ul{
    list-style: none; 
}
