/* Error: expected "{".
 *     ,
 * 120 | >>>>>>> cf14773c4e6494a3fb43705a122c22760de5b6fd
 *     |                                                 ^
 *     '
 *   sass\animations.scss 120:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 120 \2502  >>>>>>> cf14773c4e6494a3fb43705a122c22760de5b6fd\d\a     \2502                                                  ^\a     \2575 \a   sass\\animations.scss 120:49  root stylesheet';
}
