:root {
  --color-primary: #356738;
  --color-primary-alt: #6c6c6c;
  --color-secondary: rgb(255, 217, 0);
  --color-background: #6f9164;
  --color-text: gold;
  --color-light: #fff;
  --color-anchor: #3d0000;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

path {
  display: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-image: url('/Erebor\ background.svg');
  background-attachment: fixed;
}

header {
  /* background-color: var(--color-primary); */
  position: fixed;
  max-height: 150px;
  width: 100%;
  top: 0;

  /* transform-origin: 100px 0; */

  /* animation: twinkle 2s infinite ease-in-out; */
  /* animation: rotate 10s infinite ease-in-out; */
  /* animation: minecart 10s infinite ease-in-out; */
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*----- Animations -----*/
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.5); 
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.8);
  }
}

@keyframes rotate {
  0%, 75% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  55% {
    transform: rotate(45deg);
  }
}

@keyframes minecart {
  0% {
    transform: translateX(-100vw);
  }
  65%, 100%{
    transform: translateX(100vw);
  }
}