@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jim+Nightshade&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
:root {
  --color-primary: #3a00ff;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #d42257;
  --color-background: #d2fbf7;
  --color-text: #412d86;
  --color-light: #fff;
  --color-anchor: #3a00ff;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header h1 {
  font-size: 3rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.3s;
}
header h2 {
  font-size: 2rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.6s;
}
header p {
  font-size: 1rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.9s;
}

/* Button links */
.link-github,
.page-footer li a,
#files a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 7px;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  border: 0;
  margin-bottom: var(--tiny-margin);
  border-radius: 2px;
  box-shadow: 0px 0px 12px -2px;
  position: relative;
  transition: background-color 0.6s ease, transform 0.3s ease;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
}

.link-github:hover,
.page-footer li a:hover,
#files a:hover {
  color: #fff;
  border: 0;
  background-color: black;
  -webkit-animation: buttons 1s linear forwards infinite;
  animation: buttons 1s linear forwards infinite;
}

.link-github svg {
  background: #003f12bf;
  color: #d9d9d9;
  height: 16px;
  width: 16px;
  padding: 10px;
}

.link-github:hover svg {
  fill: #fff;
  border-color: #fff;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

nav {
  margin-top: 7px;
  background-color: #00290cae;
  border-radius: 20px;
  justify-self: center;
}

nav ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: clamp(0.25rem, 0.5vw, 0.5rem);
  padding: 0.56rem;
  list-style: none;
}

nav li {
  display: inline-block;
  background: #003f12d3;
  color: #d9d9d9;
  height: max-content;
  width: max-content;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px black;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease, transform 0.3s ease;
  overflow: hidden;
  /* Pseudo-element ::after for animation */
  /* Hover and focus effect */
  /* Active state - on click */
}
nav li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  /* Slight white background for effect */
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
nav li:focus, nav li:hover {
  background-color: rgba(0, 27, 8, 0.8039215686);
  transform: translateY(-5px);
}
nav li:active {
  transform: translateY(5px);
  /* Adjust ::after on active state */
}
nav li:active::after {
  width: 300px;
  height: 300px;
}

body {
  background-image: url("/images/Erebor background.svg");
  background-attachment: fixed;
}

:root {
  --mono: "MONO" 0.4;
  --casl: "CASL" 0;
  --wght: "wght" 380;
  --slnt: "slnt" 0;
  --crsv: "CRSV" 0;
  /* s0 - s5 font-size, margin, height: increasing, s-1 - s-5 decreasing */
  --ratio: 1.3;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.2rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --textColor: rgb(186, 185, 185);
  --headingColor: rgb(203, 203, 22);
  --linkColor: white;
}

* {
  font-weight: var(--wght);
  font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--crsv);
}

html {
  font-size: var(s0);
}

body {
  font-family: Recursive, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Jim Nightshade", cursive;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
  color: var(--headingColor);
  text-shadow: 4px 3px 1px black;
}

h1 {
  font-size: var(--s5);
  font-weight: 700;
  color: #ffc402;
}

h2 {
  font-size: var(--s4);
  font-weight: 500;
}

h3 {
  font-size: var(--s3);
  font-weight: 500;
}

h4 {
  font-size: var(--s2);
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: var(--linkColor);
  --wght:500;
}

a {
  text-decoration: none;
}

a, strong {
  color: var(--linkColor);
  font-size: var(--s0);
  --wght:350;
}

body {
  color: var(--textColor);
}

.skip-link {
  position: absolute;
  top: 0;
  left: -10000px;
  font-size: 14px;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: var(--s-1);
}

:root {
  --content-width: 90%;
  ----border-radius:20%;
  --big-margin: 3rem;
  --normal-margin: 1rem;
  --small-margin: .6rem;
  --tiny-margin: .3rem;
  --primary-color:rgba(0, 60, 24, 0.748);
  --secondary-color:rgba(255, 191, 0, 0.736);
  --container-background:rgba(0, 59, 0, 0);
}

h1,
h2,
h3,
h4,
p {
  margin: 0 auto;
  max-width: 70ch;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--primary-color);
  justify-self: center;
  border: 12px solid var(--secondary-color);
}

body {
  position: relative;
  display: block;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: scroll;
  padding: var(--small-margin);
  background-attachment: scroll;
  background-clip: border-box;
  scroll-behavior: smooth;
  scrollbar-color: grey #d6ded7;
  scrollbar-width: thin;
}

.container, #files, #styles {
  width: var(--content-width);
  max-width: 1200px;
  margin: var(--small-margin) auto;
}

/* page sections */
#main section.container,
#styles .container,
#files {
  background-color: var(--primary-color);
  border-radius: 2px;
  border: 12px solid var(--secondary-color);
}

#main section.container p {
  margin: var(--normal-margin) auto;
}

#about,
#guidelines,
#contribute {
  margin-bottom: var(--big-margin);
}

/* Header sections */
#main h2,
#styles h2 {
  text-align: center;
  line-height: 2.5rem;
  gap: 0.5rem;
  padding: var(--tiny-margin) 0;
}

.container {
  background-color: var(--container-background);
}

.container h2 {
  margin-top: var(--normal-margin);
}

h3 {
  margin-left: var(--big-margin);
}

/* Source files */
#files .container {
  text-align: center;
}

/*---- Shapes ----*/
nav::before {
  content: "";
  position: fixed;
  border-top: 50px solid #ff0000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 125px;
  top: 28%;
  z-index: -1;
  animation: infinite 7s minecart;
}

nav::after {
  content: "";
  position: fixed;
  background-color: #ff0000;
  height: 85px;
  width: 75px;
  bottom: 23%;
  left: 7%;
  border-radius: 0 0 17px 17px;
  z-index: -2;
  animation: infinite 5s rotate;
}

/*----- Animations -----*/
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
    background-color: #f5c400;
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
    background-color: #ffdf27;
  }
}
@keyframes rotate {
  0%, 75% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  55% {
    transform: rotate(45deg);
  }
}
@keyframes minecart {
  0% {
    transform: translateX(-40vw);
  }
  80%, 100% {
    transform: translateX(75vw);
  }
}
