@charset "UTF-8";
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jim+Nightshade&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header h1 {
  font-size: 3rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.3s;
}
header h2 {
  font-size: 2rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.6s;
}
header p {
  font-size: 1rem;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.9s;
}

/* Button links */
.link-github,
.page-footer li a,
#files a,
.link-guidelines,
.link-allstyles,
.profile .container > a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 7px;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  border: 0;
  margin-bottom: var(--tiny-margin);
  border-radius: 2px;
  box-shadow: 0px 0px 12px -2px;
  position: relative;
  transition: background-color 0.6s ease, transform 0.3s ease;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
}

.link-github:hover,
.page-footer li a:hover,
#files a:hover,
.link-guidelines:hover,
.profile .container > a:hover,
.link-allstyles:hover {
  color: #fff;
  border: 0;
  background-color: black;
  -webkit-animation: buttons 1s linear forwards infinite;
  animation: buttons 1s linear forwards infinite;
}

.link-github svg {
  background-color: var(--primary-color);
  height: 16px;
  width: 16px;
  padding: 10px;
}

.link-github:hover svg {
  border-color: #fff;
  background-color: #fff;
}

nav {
  margin-top: 7px;
  background-color: #00290cae;
  border-radius: 20px;
  justify-self: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: clamp(0.25rem, 0.5vw, 0.5rem);
  padding: 0.9rem;
  list-style: none;
}

nav li {
  display: inline-block;
  background: var(--primary-color);
  height: max-content;
  width: max-content;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px black;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease, transform 0.3s ease;
  overflow: hidden;
  /* Pseudo-element ::after for animation */
  /* Hover and focus effect */
  /* Active state - on click */
}
nav li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}
nav li:focus, nav li:hover {
  background-color: rgba(0, 27, 8, 0.8039215686);
  transform: translateY(-5px);
}
nav li:active {
  transform: translateY(5px);
  /* Adjust ::after on active state */
}
nav li:active::after {
  width: 300px;
  height: 300px;
}

.page-footer ul,
.profile ul {
  list-style: none;
}

body {
  background-image: url("/images/EreborBackground.svg");
  background-attachment: fixed;
}

@media (width < 2400px) {
  body {
    background-repeat: repeat-x;
    background-size: cover;
  }
}
:root {
  --mono: "MONO" 0.4;
  --casl: "CASL" 0;
  --wght: "wght" 380;
  --slnt: "slnt" 0;
  --crsv: "CRSV" 0;
  /* s0 - s5 font-size, margin, height: increasing, s-1 - s-5 decreasing */
  --ratio: 1.3;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.2rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --textColor: rgb(186, 185, 185);
  --headingColor: rgb(203, 203, 22);
  --linkColor: white;
}

* {
  font-weight: var(--wght);
  font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--crsv);
}

html {
  font-size: var(s0);
}

body {
  font-family: Recursive, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Jim Nightshade", cursive;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
  color: var(--headingColor);
  text-shadow: 4px 3px 1px black;
}

h1 {
  font-size: var(--s5);
  font-weight: 700;
  color: #ffc402;
}

h2 {
  font-size: var(--s4);
  font-weight: 500;
}

h3 {
  font-size: var(--s3);
  font-weight: 500;
}

h4 {
  font-size: var(--s2);
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: var(--linkColor);
  --wght:500;
}

a {
  text-decoration: none;
  text-align: center;
}

a, strong {
  color: var(--linkColor);
  font-size: var(--s0);
  --wght:350;
}

body {
  color: var(--textColor);
}

.skip-link {
  position: absolute;
  top: 0;
  left: -10000px;
  font-size: 14px;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: var(--s-1);
}

:root {
  --content-width: 90%;
  ----border-radius:20%;
  --big-margin: 3rem;
  --normal-margin: 1rem;
  --small-margin: .6rem;
  --tiny-margin: .3rem;
  --primary-color:rgba(0, 60, 24, 0.748);
  --secondary-color:rgba(255, 191, 0, 0.736);
  --container-background:rgba(0, 59, 0, 0);
  --third-color:#00290cae;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0 auto;
  max-width: 70ch;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--primary-color);
  justify-self: center;
  border: 12px solid var(--secondary-color);
}

body {
  position: relative;
  display: block;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: scroll;
  padding: var(--small-margin);
  background-attachment: scroll;
  background-clip: border-box;
  scroll-behavior: smooth;
  scrollbar-color: grey #d6ded7;
  scrollbar-width: thin;
}

.container, #files, #styles {
  width: var(--content-width);
  max-width: 1200px;
  margin: var(--small-margin) auto;
}

/* page sections */
#main section.container,
#styles .container,
#files {
  background-color: var(--primary-color);
  border-radius: 2px;
  border: 12px solid var(--secondary-color);
}

#main section.container p {
  margin: var(--normal-margin) auto;
}
@media (max-width: 900px) {
  #main section.container p {
    margin: var(--normal-margin) var(--normal-margin);
  }
}

#about,
#guidelines,
#contribute {
  margin-bottom: var(--big-margin);
}

#main h2,
#styles h2 {
  text-align: center;
  line-height: 2.5rem;
  gap: 0.5rem;
  padding: var(--tiny-margin) 0;
}

.container {
  background-color: var(--container-background);
}

h3 {
  margin-left: var(--big-margin);
  text-align: center;
}

/* Source files */
#files .container {
  text-align: center;
}

.link-guidelines,
.link-allstyles,
.profile .container {
  display: block;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
}

.profile .container {
  width: 62%;
  margin: var(--small-margin) auto;
  background-color: var(--third-color);
  border-radius: 10px;
}

.page-footer .container {
  width: 62%;
  margin: var(--normal-margin) auto;
  background-color: var(--third-color);
  border-radius: 10px;
}

.page-footer p {
  width: 95%;
  padding-bottom: var(--small-margin);
}

/*---- Shapes ----*/
nav::before {
  content: "";
  position: fixed;
  border-top: 50px solid #856024;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 125px;
  top: 29.5%;
  z-index: -1;
  animation: infinite 7s minecart;
}

nav::after {
  content: "";
  position: fixed;
  background-color: #856024;
  height: 85px;
  width: 75px;
  bottom: 23%;
  left: 7%;
  border-radius: 0 0 17px 17px;
  z-index: -2;
  animation: infinite 5s rotate;
}

#about:first-child::before {
  content: "";
  position: fixed;
  background-color: #987844;
  height: 25px;
  width: 45px;
  right: 7%;
  bottom: 12.7%;
  animation: hammer 3s infinite;
  transform-origin: 50% 320%;
  z-index: -1;
}

#about:first-child::after {
  content: "";
  position: fixed;
  background-color: #856024;
  height: 85px;
  width: 15px;
  right: 8%;
  bottom: 5%;
  animation: hammer 3s infinite;
  transform-origin: 50% 100%;
  z-index: -2;
}

#guidelines::before {
  content: "";
  position: fixed;
  background-color: #adadad;
  height: 23px;
  width: 50px;
  right: 11%;
  bottom: 0.8%;
  z-index: -2;
}

#guidelines::after {
  content: "";
  position: fixed;
  background-color: #adadad;
  height: 25px;
  width: 50px;
  left: 12%;
  bottom: 0.8%;
  z-index: -2;
}

/* Extra large screens (2400px and above) */
@media (min-width: 2400px) {
  nav::before {
    width: 110px;
    top: 31.5%;
  }

  nav::after {
    width: 90px;
    height: 100px;
    bottom: 23%;
  }

  #guidelines::after {
    content: "";
    position: fixed;
    height: 25px;
    width: 50px;
    left: 12%;
    bottom: 8%;
    z-index: -2;
  }

  #about:first-child::before {
    right: 8%;
    bottom: 8%;
  }

  #about:first-child::after {
    right: 8.5%;
    bottom: 4.5%;
  }
}
/* Large screens (1024px - 1439px) */
@media (max-width: 1440px) {
  nav::before {
    width: 110px;
    top: 37.3%;
  }

  nav::after {
    width: 70px;
    height: 80px;
    bottom: 3%;
  }

  #guidelines::after {
    content: "";
    position: fixed;
    height: 25px;
    width: 50px;
    left: 12%;
    bottom: 0.8%;
    z-index: -2;
  }

  #about:first-child::before {
    right: 4%;
  }

  #about:first-child::after {
    right: 5.5%;
  }
}
/* Medium screens (768px - 1023px) */
@media (max-width: 1024px) {
  nav::before {
    width: 110px;
    top: 29.1%;
  }

  nav::after {
    width: 60px;
    height: 70px;
    bottom: 23%;
    left: 10%;
  }

  #guidelines::after {
    content: "";
    position: fixed;
    background-color: #6b4d4d;
    height: 25px;
    width: 50px;
    left: 12%;
    bottom: 0.8%;
    z-index: -2;
  }

  #about:first-child::before {
    right: 2.5%;
  }

  #about:first-child::after {
    right: 4.5%;
  }
}
/* Small screens (480px - 767px) */
@media (max-width: 768px) {
  nav::before {
    width: 110px;
    top: 29.1%;
  }

  nav::after {
    width: 50px;
    height: 60px;
    bottom: 23%;
    left: 11%;
  }

  #guidelines::after {
    content: "";
    position: fixed;
    background-color: #6b4d4d;
    height: 25px;
    width: 50px;
    left: 12%;
    bottom: 0.8%;
    z-index: -2;
  }

  #about:first-child::before {
    right: 0.8%;
  }

  #about:first-child::after {
    right: 2.8%;
  }
}
/* Extra small screens (below 480px) */
@media (max-width: 479px) {
  nav::before {
    width: 110px;
    height: 50px;
    top: 29.1%;
  }

  nav::after {
    width: 45px;
    height: 50px;
    bottom: 22.5%;
    left: 19%;
  }

  #guidelines::after {
    content: "";
    position: fixed;
    background-color: #6b4d4d;
    height: 25px;
    width: 50px;
    left: 12%;
    bottom: 0.8%;
    z-index: -2;
  }

  #about:first-child::before {
    height: 10px;
    width: 25px;
    right: 3%;
    bottom: 7.5%;
  }

  #about:first-child::after {
    height: 40px;
    width: 8px;
    right: 4.3%;
    bottom: 3.5%;
  }
}
header::before {
  content: "★";
  position: fixed;
  font-size: 10px;
  color: white;
  top: 80px;
  left: 50px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

header::after {
  content: "★";
  position: fixed;
  font-size: 10px;
  color: white;
  top: 180px;
  left: 100px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

header .container::before {
  content: "★";
  font-size: 10px;
  color: white;
  position: fixed;
  top: 140px;
  left: 180px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

header .container::after {
  content: "★";
  font-size: 10px;
  color: white;
  position: fixed;
  top: 200px;
  right: 100px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

header .container span::before {
  content: "★";
  font-size: 10px;
  color: white;
  position: fixed;
  top: 140px;
  left: 1270px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

header .container span::after {
  content: "★";
  font-size: 10px;
  color: white;
  position: fixed;
  top: 90px;
  left: 1350px;
  animation: twinkle 10s infinite;
  z-index: -1;
}

/*----- Animations -----*/
@keyframes twinkle {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) rotate(180deg);
  }
}
@keyframes rotate {
  0%, 75% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  55% {
    transform: rotate(45deg);
  }
}
@keyframes minecart {
  0% {
    transform: translateX(-40vw);
  }
  80%, 100% {
    transform: translateX(75vw);
  }
}
@keyframes hammer {
  0%, 55% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-75deg);
  }
}
